.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
 background-color: #0d519a; /* Blue */
  height: 17vh;
}



footer{
  background-color: #343a40; /* Dark Gray */
  position: absolute;
  bottom: 0;
  height: 13vh;
  width: 100%;
}

.footer-content {

  color: white;
}

.logo {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
}

.header-content {
  display: flex;
  align-items: center;
}

main{
  background-color: black;
  height: 70vh;
  color: white;
}

.list {
  text-align: center;
  width: 200px;
  height: 92%;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  column-gap: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
}

.list h2 {
  margin-bottom: 5px;
}

.list ul {
  list-style: none;
  padding: 0;
}

.list ul li {
  margin-bottom: 5px;
}

.generate{
  user-select: none;
  cursor: pointer;
}